.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 100%;
}

.pagination-item {
  display: flex;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  border-style: none;
  background-color: #52525c;
  transition: background-color 300ms ease-in-out, scale 300ms ease-in-out;
  scale: 0.5;
}

.pagination-item-active {
  background-color: #e4e4e7;
  scale: 1;
}
