.bars-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.bar-item-wrapper {
  position: relative;
  height: 4px;
  flex: 1;
  overflow: hidden;
  border-radius: 2px;
  background-color: #e2e8f0;
}

.bar-item-wrapper-inner {
  height: 100%;
  background-color: #3b82f6;
  transform-origin: left;
}

.bar-progress-animation {
  animation-name: progress;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes progress {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
