.wrapper {
  overflow: hidden;
}

.wrapper-inner {
  touch-action: none;
  display: flex;
  height: 100%;
  width: 100%;
}

.wrapper-inner-vertical {
  flex-direction: column;
}

.wrapper-inner-horizontal {
  flex-direction: row;
}

.carousel-transition {
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}


