.wrapper {
  overflow: hidden;
}

.wrapper-inner {
  touch-action: none;
  display: flex;
  height: 100%;
  width: 100%;
}

.wrapper-inner-vertical {
  flex-direction: column;
}

.wrapper-inner-horizontal {
  flex-direction: row;
}
